requests=2.25.0
beautifulsoup4=4.9.1
numpy=1.19.3
pandas=1.1.4
matplotlib=3.2.2
seaborn=0.11.0
notebook==6.1.5
nltk=3.5
pymorphy2=0.9.1
tensorflow=2.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
wordcloud=1.8.1